/* 顶部信息栏标签样式 */
QLabel {
    font-size: 26px;
}

/* 电源按钮样式 */
#powerButton {
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    min-width: 120px;
    min-height: 40px;
}

#powerButton[powerState="on"] {
    background-color: #0096ff; /* 正常模式下的蓝色 */
}

#powerButton[powerState="off"] {
    background-color: #444; /* 关闭状态下的深灰色 */
}

#powerButton:pressed {
    background-color: #0080ff;
}

/* 驾驶模式标签特殊样式 */
#driveModeLabel {
    font-size: 16px;
    font-weight: bold;
}